# Ignorar entornos virtuales
venv/
ENV/

# Archivos compilados de Python
*.pyc
__pycache__/
*.pyo

# Archivos de logs
*.log

# Bases de datos SQLite (si las usas en local)
*.sqlite3

# Configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
